.pagination {
  width: 100%;
  margin-bottom: 15px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
ul.pagination li a {
  text-decoration: none;
  color: #888;
  font-size: 1.3rem;
}
/* ul.pagination li.active a {
} */
ul.pagination li.active {
  margin: 0 1.54rem;
}
.page-selection {
  width: 48px;
  height: 30px;
  color: #515151;
}
