.pagination {
  width: 100%;
  margin-top: 15px;
  padding: 0px 2px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}
ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
ul.pagination li a {
  text-decoration: none;
  color: #888;
  font-size: 1.3rem;
}
ul.pagination li.active a {
  color: black;
  font-weight: 500;
}
ul.pagination li.active {
  font-size: 1.4rem;
}
.page-selection {
  width: 48px;
  height: 30px;
  color: #515151;
}
